<div class="container">
    <div class="row">
        <div class="col-xs-4">
			<h2 class="section-ttl">店詳細</h2>
			<div class="flex">
				<%= render 'admin/shops/detail', shop: @shop %>
				<div class="flex align-center pl5">
					<%= link_to "編集する", edit_admin_shop_path(@shop), class: "btn btn-success" %>
				</div>
			</div>
		</div>
        <div class="col-xs-2">
        </div>
        <div class="col-xs-6">
            <br>
            <br>
            <br>
            <br>
        	<%= render 'admin/raamens/index', raamens: @raamens, shop: @shop %>
        	<%= link_to "ラーメンを追加する", new_admin_shop_raamen_path(@shop,Raamen.new), class: "btn btn-success" %>
        </div>
    </div>
</div>