<div class="container">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-1">
        	<table class="table">
				<thead>
					<tr>
						<th>店名</th>
						<th>住所</th>
					</tr>
				</thead>
				<tbody>
					<% @shop_search.each do |shop| %>
						<tr>
							<td><%= link_to shop.name, shop_path(shop), class: "underline" %></td>
							<td><%= shop.address %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>