<div class="container">
    <div class="row">
        <div class="col-xs-7 col-xs-offset-1">
			<h2 class="section-ttl">店詳細</h2>
			<div class="flex">
				<%= render 'admin/shops/detail', shop: @shop %>
			</div>
		</section>
	</div>
</div>
    <div class="row">
        <div class="col-xs-7 col-xs-offset-1">
        	<%= render 'reviews/index', shop: @shop %>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
        	<%= link_to "口コミを投稿する", shop_raamens_path(@shop), class: "btn btn-success" %>
        </div>
    </div>
</div>