<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
			<h2>ラーメンの登録</h2>
			<%= form_for [:admin, @shop, @raamen], :url=>{:action=>'create'} do |f| %>
		  		<%= render "form", shop: @shop, raamen: Raamen.new, f: f,  html: {method: "POST"}, submit: '登録' %>
		  	<% end %>
		</div>
	</div>
</div>
