<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
        	<%= image_tag asset_path("title4.png") %>
        </div>
        <div class="about">
	        <div class="col-xs-8 col-xs-offset-2">
	        	<br>
	        	このホームページはそんな要望を叶えるために生まれました。</br>
	        	老若男女問わず愛されるラーメンをより人々の身近なものにすべく、これからもより良いラーメンの情報を発信してまいります。<br>
	        	不具合、ご要望ありましたら以下のメールアドレスまでご連絡願います。<br>
	        	<br>
	        	<br>
	        </div>
	        <div class="col-xs-4 col-xs-offset-2">
	        	<br>
	        	<br>
	        	この世の全てのラーメンに感謝を込めて<br>
	        	<br>
	        	<br>
	        	email:  aaaaa@aaaaa<br>
	        	管理人:   yamami<br>
	        </div>
	    </div>
        <div class="col-xs-6">
        	<%= image_tag "raamen.jpg" %>
        </div>
    </div>
</div>
