/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";  /*ここを追加*/
@import "bootstrap";            /*ここを追加*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rank_btn {
    color: black;
    font-family: "midasi";
    font-size: 22px;
    font-height: 32px;
}

.rank_btn-non{
    color: black;
    font-family: "midasi";
    font-size: 20px;
    font-height: 30px;
}

.star-image{
    width: 120px;
    height: 30px;
}

.king{
    width: 30px;
    height: 30px;
}

.rank_box{
    background-color: white;
  }

body{
	padding-top: 70px;
	padding-bottom: 200px;
	background-image: url(shuuchuusenn.jpg);
	background-size: cover;
  background-position: center;
}

container{
	margin-top: 70px;
}

.move{
  width: 30px;
  height: 30px;
  color: white;
}


.fonts{
  font-family: "Pigmo-00";
  font-size: 50px;
  font-height: 70px;
}

.review-fonts{
  font-family: "Pigmo-00";
  font-size: 40px;
  font-height: 60px;
}

.table{
  font-family: "ume-hgo4";
  font-size: 15px;
  font-height: 25px;
}

.nav{
  font-family: "Pigmo-00";
  font-size: 20px;
  font-height: 25px;
}

.search{
  font-family: "midasi";
}

.table{
  color: black;
}

.detail-btn{
  color: black;
  font-family: "midasi";
  font-size: 15px;
  font-height: 20px;
  text-shadow: 5px 5px 5px #808080;
}

.about{
  font-family: "midasi";
  font-size: 20px;
  font-height: 25px;
}


