@font-face {
  font-family: "Pigmo-00";
  src: asset_url("assets/Pigmo-00.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ume-hgo4";
  src: asset_url("assets/ume-hgo4.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "midasi";
  src: asset_url("assets/midasi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}