<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
			<h2 class="section-ttl">レビューの編集</h2>
			<%= render 'reviews/form', shop: @shop, raamen: @raamen, review: @review, url: shop_raamen_review_path(@shop, @raamen, @review), submit: '更新' %>
			<% if @review.user_id == current_user.id %>
					<%= link_to "削除する", shop_raamen_review_path(@shop,@raamen,@review), method: :delete, class: "btn" %>
			<% else %>
				<br></br>
			<% end %>
		</div>
	</div>
</div>