<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
			<h2 class="section-ttl">レビューの保存</h2>
		  <%= render 'form', shop: @shop, raamen: @raamen, review: @review, url: shop_raamen_reviews_path(@shop, @raamen, @review), submit: '保存' %>
		</div>
	</div>
</div>