<footer class="footer navbar-fixed-bottom navbar-inverse">
  	<div class="container">
        <div class="nav navbar-nav navbar-right love navbar-white bg-white">
        	CopyRight　　yamami.inc    <%= image_tag asset_path("title5.png") %>
        </div>
    </div>
</footer>


<style>
	.love{
		color: white;
	}

	.container{
		padding-top: 7px;
		padding-bottom: 7px;
	}
</style>
