<footer class="footer navbar-fixed-bottom navbar-inverse">
    <div class="container">
        <p class="text-muted">
        	CopyRight　　yamami.inc
        	すべてのラーメンに愛を込めて
        </p>
    </div>
</footer>