<footer class="footer navbar-fixed-bottom navbar-inverse">
  	<div class="container">
        <div class="nav navbar-nav navbar-right love">
        	CopyRight　　yamami.inc    全てのラーメンに愛を込めて
        </div>
    </div>
</footer>


<style>
	love{
		font-color: white;
	}
</style>
